.playground {
    width: 50%;
    height: 50%;
    margin: auto;
    position: relative;  /* Make sure playground is positioned relative to the ball's position */
}

body html .root {
    height: 100%;
}

.ball {
    background-color: black;
    box-shadow: 0 10px 10px -6px;
    position: absolute;  /* Changed to absolute so that the ball can move with 'left' property */
    bottom: 0;  /* Place the ball at the bottom of the playground */
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
